# Copy jadi ".env" di root sebelum jalankan docker-compose.prod.yml
# Docker Compose otomatis baca file ".env" di root untuk isi variable ${...}

DB_HOST=internal-it-asset-db-portfolio-morphee.l.aivencloud.com
DB_PORT=10979
DB_USER=avnadmin
DB_PASSWORD=isi_password_aiven_disini
DB_NAME=defaultdb
JWT_SECRET=isi_secret_jwt_disini
CORS_ORIGIN=http://localhost
